/* styles.css */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 20%;
}

label {
    font-size: 20px;
    text-align: left;
    margin-top: 10px;
}

input[type="number"] {
    width: 60px;
    margin-bottom: 10px;
}

div {
    text-align: left;
    margin-bottom: 10px;
}


button {
    background-color: #8BC34A;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

button:hover {
    background-color: #388E3C;
}

p#password {
    margin-top: 20px;
    font-weight: bold;
    word-break: break-all;
    background: #e0e0e0;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
}
